<div class="container d-flex justify-content-center mx-0 px-0">
  <div class="row w-100">
    <!-- Texto en pantallas pequeñas y columnas en pantallas más grandes -->
    <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-center">
      <h1 class="me-5">Inscripción<br><br>de<br><br>Ramos<br><br></h1>
    </div>
    
    <!-- Imagen en pantallas pequeñas y columnas en pantallas más grandes -->
    <div class="col-12 col-md-10 d-flex justify-content-center">
      <%= image_tag "inscripcion.jpg", class: "img-fluid", alt: "Inscripción" %>
    </div>
  </div>
</div>
